@import "./ui/veriables";
@import "./ui/mixin";
@import "./global";
@import "./layout/header";

@import "./screens/intro";
@import "./screens/need";
@import "./screens/start";
@import "./screens/part";

@import "./layout/footer";