@import "./ui/veriables";
@import "./ui/mixin";
@import "./global";
@import "./layout/header";

@import "./screens/intro";
@import "./screens/need";
@import "./screens/start";
@import "./screens/part";
@import "./screens/whom";
@import "./screens/buy";
@import "./screens/guide";
@import "./screens/work";
@import "./screens/reviews";

@import "./layout/footer";