.faq {
    background-color: #effbff;
    &__content {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        &__img {
            min-width: 400px;
            flex: 1;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__el {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            min-width: 400px;
            flex: 2;
            gap: 20px;
            padding: 60px;
            .title {
                @include content(700, $blue);
            }
            .frame {
                width: 90px;
                height: 12px;
            }
            .list {
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                width: 100%;
                &__item {
                    width: 100%;
                    .list__item__functions[open] .list__item__btn span {
                        content: '-';
                        transform: rotate(180deg);
                        color: $blue;
                    }
                    &__functions {
                        .list__item__btn {
                            &:last-child {
                                border-bottom: 2px solid rgb(198, 198, 198);
                            }
                            border-top: 2px solid rgb(198, 198, 198);
                            list-style-type: none;
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            justify-content: space-between;
                            @include text(600, $gray);
                            padding: 20px;

                            span {
                                transition: all 0.3s ease;
                                font-size: 25px;
                                font-weight: 200;
                            }
                        }
                        .info {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            padding: 15px;
                            @include text(500, $gray);
                            i {
                                color: $green;
                            }
                            a {
                                color: $blue;
                            }
                        }
                    }
                }
            }
            .btn {
                background: linear-gradient(90deg, #0167b5 0%, #0296f0 100%);
                padding: 15px 55px;
              
                border-radius: 4px;
                @include card-Title(600, $white);
                @media (max-width: 767px) {
                    padding: 10px 20px;
                }
            }
        }
    }
}
