.guide {
    padding: 100px 0;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        &__title {
            @include content(700, $gray);
            margin: 0 auto;
            text-align: center;
            span {
                color: $blue;
            }
        }
        &__text {
            @include card-Title(500, $gray);
            margin: 0 auto;
            width: 58%;
            text-align: center;
            margin-bottom: 50px;
        }
        .list {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 100%;
            &__item {
                width: 100%;
                .list__item__functions[open] .list__item__btn span {
                    content: '-';
                    transform: rotate(180deg);
                    color: $blue;
                }
                &__functions {
                    .list__item__btn {
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        justify-content: space-between;
                        @include card-Title(600, $gray);
                        padding: 20px;
                        border-bottom: 2px solid rgb(198, 198, 198);
                        border-top: 2px solid rgb(198, 198, 198);
                        span {
                            transition: all 0.3s ease;
                            font-size: 35px;
                            font-weight: 200;
                        }
                    }
                    .info {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        padding: 15px;
                        @include text(500, $gray);
                        i {
                            color: $green;
                        }
                    }
                }
            }
        }
        &__btn {
            background: linear-gradient(90deg, #0167b5 0%, #0296f0 100%);
            padding: 20px 75px;
            margin: 0 auto;
            border-radius: 4px;
            @include card-Title(600, $white);
            @media (max-width: 767px) {
                padding: 10px 20px;
            }
        }
    }
}
