.guide {
    padding: 100px 0;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        &__title {
            @include content(700, $gray);
            margin: 0 auto;
            text-align: center;
            span {
                color: $blue;
            }
        }
        &__text {
            @include card-Title(500, $gray);
            margin: 0 auto;
            width: 58%;
            text-align: center;
            margin-bottom: 50px;
        }
        &__main {
            width: 100%;
            .list {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1px;
                &__item {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    width: 100%;
                    &__btn {
                        padding: 15px 30px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        background: transparent;
                        border-top: 2px solid #e0e0e0;
                        border-bottom: 2px solid #e0e0e0;
                        @include card-Title(600, #4a4a4a);
                        &:active + .list__item__functions {
                            display: block;
                        }
                    }
                    &__functions {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        display: none;
                        .info {
                            display: flex;
                            gap: 10px;
                            &:nth-child(3) {
                                margin-bottom: 20px;
                            }
                            i {
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
        &__btn{
            background: linear-gradient(90deg, #0167B5 0%, #0296F0 100%);
            padding: 20px 75px;
            margin: 0 auto;
            border-radius: 4px;
            @include card-Title(600, $white);
             @media (max-width: 767px) {
                padding: 10px 20px;
            }
        }
    }
}
