.need {
    padding: 80px 0;
    &__content {
        display: flex;
        align-items: center;
        gap: 100px;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        &__img {
            min-width: 300px;
            flex: 1;
            position: relative;
            transition: all 0.3s ease;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                border: 3px solid $green;
                border-radius: 7px;
                right: -30px;
                top: 30px;
                z-index: 1;
                display: none;
            }
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                border: 3px solid #adff44;
                border-radius: 7px;
                right: -45px;
                top: 45px;
                z-index: 1;
                display: none;
            }
            &:hover::before,
            &:hover::after {
                display: block;
            }
            .img {
                width: 100%;
                position: relative;
                border-radius: 7px;
                z-index: 2;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &__el {
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: flex-start;
            .title {
                @include content(700, $black);
                width: 80%;
                span {
                    color: $blue;
                }
            }
            .list {
                display: flex;
                flex-direction: column;
                gap: 20px;
                &__item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 75%;
                    i {
                        color: $blue;
                        font-size: 18px;
                    }
                }
            }
            .btn {
                background: $gradient;
                padding: 20px 55px;
                color: $white;
                @media (max-width: 767px) {
                    padding: 10px 20px;
                }
                @include text(700, $white);
            }
        }
    }
}
