.part {
    padding: 80px 0;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
        &__head {
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;
            margin: 0 auto;
            .title {
                @include content(600, $gray);
                width: 80%;
                margin: 0 auto;
                span {
                    color: $blue;
                }
            }
            .frame {
                width: 72px;
                height: 12px;
                margin: 0 auto;
            }
            .info {
                @include card-Title(600, $gray);
            }
        }
        &__main {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            @media (max-width: 767px) {
                gap: 50px;
            }
            .card {
                min-width: 300px;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 29px;
                color: $gray;
                font-weight: 500;
                position: relative;
                img {
                    border-radius: 8px;
                    width: 100%;
                    z-index: 99;
                    transition: all 0.3s ease;
                }
                .card__img {
                    position: relative;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        border: 3px solid #f2f2f2;
                        border-radius: 7px;
                        right: -10px;
                        top: 10px;

                        z-index: -1;
                    }
                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        border: 3px solid #adff44;
                        border-radius: 7px;
                        right: -10px;
                        top: 10px;
                        z-index: -2;
                        transition: all 0.3s ease;
                    }
                    &:hover::after {
                        right: -25px;
                        top: 23px;
                    }
                }
            }
        }
        &__btn {
            background: $gradient;
            padding: 15px 75px;
            margin: 0 auto;
            @include card-Title(600, $white);
            @media (max-width: 767px) {
                padding: 10px 20px;
            }
        }
    }
}
