.reviews {
    padding: 80px 0;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 22px;
        &__title {
            @include content(700, $gray);
            margin: 0 auto;
            text-align: center;
        }
        &__icon {
            font-size: 40px;
            color: $blue;
            margin: 0 auto;
        }
        &__wrapper {
            display: flex;
            gap: 30px;
            overflow: auto;
            .card {
                padding: 25px;
                min-width: 400px;
                flex: 1;
                border-radius: 30px;
                background-color: rgb(194, 194, 194);
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    background-color: rgb(215, 215, 215);
                }
                @include text(400, $gray);
                &__head {
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    margin-bottom: 25px;
                    &__top {
                        display: flex;
                        gap: 35px;
                        .name {
                            font-weight: 500;
                            color: $gray;
                        }
                        .date {
                            color: gray;
                            font-size: 17px;
                        }
                    }
                    &__bottom {
                        display: flex;
                        gap: 20px;
                        font-weight: 800;
                        i {
                            color: yellow;
                        }
                    }
                }
                &__bottom {
                    &__text {
                        @include text(400, $gray);
                    }
                    &__link{
                        margin-top: 5px;
                        color: $blue;
                    }
                }
            }
        }
    }
}
