.whom {
    padding: 120px 0;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 90px;
        &__title {
            @include content(700, $gray);
            span {
                color: $green;
            }
            text-align: center;
        }
        &__main {
            display: flex;
            gap: 150px;
            align-items: center;
            @media (max-width: 991px) {
                flex-direction: column-reverse;
            }
            .el {
                display: flex;
                flex-direction: column;
                gap: 50px;
                min-width: 300px;
                flex: 1;
                &__card {
                    display: flex;
                    gap: 30px;
                    align-items: flex-start;

                    .title {
                        @include card-Title(600, $gray);
                    }
                    .text {
                        @include text(500, $gray);
                    }
                    &__right {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                    &:nth-child(1) {
                        .el__card__img {
                            width: 60px;
                            height: 113px;
                            margin-right: 30px;
                        }
                    }
                    &:nth-child(2) {
                        .el__card__img {
                            width: 90px;
                            height: 91px;
                        }
                    }
                    &:nth-child(3) {
                        .el__card__img {
                            width: 90px;
                            height: 91px;
                        }
                    }
                }
            }
            .img {
                min-width: 300px;
                flex: 1;
                position: relative;
                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border: 2px solid #0296f0;
                    position: absolute;
                    left: -15px;
                    top: 15px;
                    border-radius: 16px;
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border: 2px solid #0295f035;
                    position: absolute;
                    left: -35px;
                    top: 35px;
                    border-radius: 16px;
                    z-index: 1;
                }
                .img {
                    width: 100%;
                    border-radius: 16px;
                    z-index: 3;
                }
            }
        }
    }
}
