.footer {
    padding: 40px 0 ;
    .line {
        display: flex;
        gap: 90px;
        position: relative;
        flex-wrap: wrap;
       
        .wrapper {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
        &__link {
            color: rgb(184, 184, 184);
        }
        &__info {
            color: $black;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 19px;
        flex-wrap: wrap;
        &__title {
            font-size: 20px;
            color: $gray;
            margin: 0 auto;
            font-weight: 600;
        }
        &__subtitle {
            font-size: 15px;
            color: $gray;
            margin: 0 auto;
            font-weight: 500;
        }
        &__link {
            margin: 0 auto;
            color: $blue;
            display: flex;
            align-items: center;
            font-size: 20px;
            gap: 15px;
        }
        &__text {
            margin: 0 auto;
            text-align: center;
            width: 35%;
        }
        &__wrapper {
            display: flex;
            gap: 15px;
            margin: 0 auto;
            flex-wrap: wrap;
            .link {
                height: 40px;
                width: 40px;
                background-color: #d9d9d9;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $gray;
                font-size: 20px;
            }
        }
        &__list {
            display: flex;
            gap: 15px;
            margin: 0 auto;
            margin-bottom: 60px;
            flex-wrap: wrap;
            .link {
                color: $gray;
                transition: all 0.3s ease;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}
